body {
    background-image: url('img/background.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.colorButtons,
.bgColorButtons,
.modeButtons,
.container {
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

button {
    width: 80px;
    height: 25px;
}

.container {
    flex-direction: column;
}

.containerTitle {
    font-weight: 800;
}

.sketchContainer {
    height: 800px;
    width: 800px;
    border-style: solid;
    border-width: medium;
    border-color: yellow;
}